

<h2><%= @character.first_name%> <%= @character.last_name%> - House <%= @character.house.name %> <%= link_to "(edit)", edit_character_path(@character) %></h2>

<img src="<%= @character.img_url %>"</img>
